<div style="width: 100%!important;">
    <!-- Main -->
    <div class="flex flex-auto justify-center w-full max-w-5xl mx-auto p-6 sm:p-8">


        
        <form class="flex flex-col mt-4 bg-card shadow rounded overflow-hidden">
            <div class="bg-gray-50 dark:bg-gray-700 p-8 border-b">
                <p class="text-lg font-medium">Basic information</p>
                <p class="text-secondary">Set your login preferences, help us personalize your experience and make big account changes here</p>
            </div>
            <div class="flex flex-col p-8">
                <mat-form-field class="fuse-mat-dense flex-auto">
                    <mat-label>Email Address</mat-label>
                    <input matInput>
                </mat-form-field>
                <mat-form-field class="fuse-mat-dense flex-auto">
                    <mat-label>Country / Region</mat-label>
                    <mat-select>
                        <mat-option value="country-1">Country 1</mat-option>
                        <mat-option value="country-2">Country 2</mat-option>
                        <mat-option value="country-3">Country 3</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field class="fuse-mat-dense flex-auto">
                    <mat-label>Language</mat-label>
                    <mat-select>
                        <mat-option value="language-1">Language 1</mat-option>
                        <mat-option value="language-2">Language 2</mat-option>
                        <mat-option value="language-3">Language 3</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div class="bg-gray-50 dark:bg-gray-700 p-8 border-t border-b">
                <p class="text-lg font-medium">Profile</p>
                <p class="text-secondary">People here will get to know you with this information</p>
            </div>
            <div class="flex flex-col p-8">
                <mat-form-field class="fuse-mat-dense flex-auto">
                    <mat-label>First name</mat-label>
                    <input matInput>
                </mat-form-field>
                <mat-form-field class="fuse-mat-dense flex-auto">
                    <mat-label>Last name</mat-label>
                    <input matInput>
                </mat-form-field>
                <mat-form-field class="fuse-mat-dense flex-auto">
                    <mat-label>Username</mat-label>
                    <input matInput>
                    <span matPrefix>www.example.com/</span>
                </mat-form-field>
                <mat-form-field class="fuse-mat-textarea flex-auto">
                    <mat-label>About</mat-label>
                    <textarea
                        matInput
                        [rows]="3"></textarea>
                </mat-form-field>
            </div>

            <div class="bg-gray-50 dark:bg-gray-700 p-8 border-t border-b">
                <p class="text-lg font-medium">Notifications</p>
                <p class="text-secondary">We'll always let you know about important changes, but you pick what else you want to hear about.</p>
            </div>
            <div class="p-8">
                <div class="flex flex-col gt-xs:flex-row">
                    <span class="font-semibold mb-2 gt-xs:text-right gt-xs:min-w-32 gt-xs:mr-4 gt-xs:mb-0">By Email</span>
                    <div class="flex flex-col">
                        <mat-checkbox
                            class="mb-2"
                            [checked]="true"
                            [color]="'primary'">
                            Company News
                        </mat-checkbox>
                        <mat-checkbox
                            class="mb-2"
                            [color]="'primary'">
                            Featured Products
                        </mat-checkbox>
                        <mat-checkbox
                            [checked]="true"
                            [color]="'primary'">
                            Messages
                        </mat-checkbox>
                    </div>
                </div>
                <div class="flex flex-col gt-xs:flex-row mt-8">
                    <span class="font-semibold mb-2 gt-xs:text-right gt-xs:min-w-32 gt-xs:mr-4 gt-xs:mb-0">Push Notifications</span>
                    <mat-radio-group
                        class="flex flex-col"
                        [color]="'primary'"
                        [value]="'just-good'">
                        <mat-radio-button
                            class="mb-2"
                            [value]="'everything'">
                            Everything
                        </mat-radio-button>
                        <mat-radio-button
                            class="mb-2"
                            [value]="'just-good'">
                            Just the good stuff
                        </mat-radio-button>
                        <mat-radio-button [value]="'no-push'">
                            No push notifications
                        </mat-radio-button>
                    </mat-radio-group>
                </div>
            </div>

            <div class="flex items-center justify-end border-t px-8 py-5 bg-gray-50 dark:bg-gray-700">
                <button mat-button>
                    Cancel
                </button>
                <button
                    class="px-6 ml-3"
                    mat-flat-button
                    [color]="'primary'">
                    Save
                </button>
            </div>
        </form>


        
    </div>


</div>