table {
    width: 100%;
  }

  .filecontainer {
    float: right;
    margin-right: 54px;
    min-width: 250px;
    margin-top: -4px;
  }

.myfilebrowser {
  max-height: 40px !important;

  .mat-form-field {
      width: 100%;
      border-radius: 50px;
  }

  .mat-toolbar-single-row {
    max-height: 40px !important;
      height: auto !important;
      background: transparent;
      font-family: "Inter var", ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
      font-size: 0.875rem;
      font-weight: 500;


  }
}

#fileUpload {
    position: absolute;
    z-index: 9;
    opacity: 0;
    height: 100%;
    width: 100%;
    left: 0px;
    top: 0px;
    cursor: pointer;
}