.mat-stepper-horizontal {
    margin-top: 8px;
  }
  
  .mat-form-field {
    margin-top: 3px;
  }

  span{
    color: #787878;
    margin-bottom: -5px;
  }

  .input-no-marginbottom{
    margin-bottom: -7px;
  }